<form name="login" method="post">
    <input type="mail" name="mail" placeholder="Mail" /><br/>
    <input type="password" name="pwd" placeholder="Password" /><br/>
    <input type="submit"><br/>
</form>