<form method="POST">
	Header <input type="text" limit="255" name="header"></input>
	Image  <input type="file" name="file"></input>
	Content<textarea type="text" limit="400" name="content"></textarea>
    <input type="submit"></input>
</form>