/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤

#Reset

¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤

#Base

¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
html {
	min-width:800px;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

body{
	font: 14px/21px sans-serif;
	color: rgb(60,55,25);
}
body > * {
	float:left;
	width:100%;
}
b {
	font-weight:bold;
}

button, a {
	border:0;
	background-color:transparent;
	text-shadow:
		-2px 0px white,
		2px 0px white,
		0px -2px white,
		0px 2px white;
	transition: text-shadow .2s ease;
}
button:hover, a:hover {
	text-shadow:
		-2px 0px 10px white,
		2px 0px 10px white,
		0px -2px 10px white,
		0px 2px 10px white;
}
button {
	border:1px solid;
	padding:3px 6px;
}



/* do not group these rules */
*::-webkit-input-placeholder {
	color: rgb(60,60,59);
}
*:-moz-placeholder {
	color: rgb(60,60,59);
}
*::-moz-placeholder {
	color: rgb(60,60,59);
}
*:-ms-input-placeholder {
	color: rgb(60,60,59);
}