/* should be different in post.php than index.php */
.post {
	position:relative;
	width:50%;
	margin:10px auto;

	background-color: lightgray;
	padding:5px;
	border-radius: 5px;
}
.post .user {
    position:relative;
	width:100%;
	padding: 10px;
}
.post .user a {
	display:block;
}
.post .user span {
	display:inline-block;
	font-size: 20px;
	position:relative;
	top:50%;
	transform: translateY(-50%);
	margin-left:10px;
}
.post .user img {
	max-width:50px;
	max-height:50px;
}

.post .content {
	width:100%;
	padding:10px;
}

.post h1 {
	text-transform:uppercase;
	font-size:2em;
	width:100%;
	text-align:center;
	padding:20px 0px 5px 0px;
}
.post .imageLink {
	width:100%;
}
.post .imageLink img {
	max-width:100%;
	max-height:100%;
	
	position:relative;
	left:50%;
	transform: translateX(-50%);

}
.post .content .info {
	display:inline-block;
	width:100%;
	min-height:42px;
	max-height:80px;
}
.post .content .button-container .edit button, .post .content .button-container .remove button{
	border:0;
}
.post .user-buttons {
	position:absolute;
	right:10px;
	top:10px;
}
.post .user-buttons .favorite {
	border:0;
	padding:0;
	cursor:pointer;
}
.post .user-buttons .favorite img {
	max-height:42px;
	padding:3px;
}
.post .user-buttons .follow {
	position:relative;
	top:50%;
	transform: translateY(-50%);
	height:25px;
	border-width:1px;
	border-style:solid;
	cursor:pointer;

}