body {
	width:100%;
}

header {
	width:100%;
	height:100px;
	/*background-color: #f5f5dc;*/
	background: linear-gradient(to right, rgba(245,245,220,0) 0%,rgba(245,245,220,1) 35%);
}
main {
	position:relative;
	background: url("../img/background.png");
}
.paginator {
	width:50%;
	margin:10px auto;

}
#poster {
	position:fixed;
	left:0;
	top:100px;
	width:25%;
	min-width:200px;
}
.posts {
	margin:0 auto;
	width:75%;
}

.sub-list-wrapper {
	width:25%;
	position:absolute;
	right:0;
	top:0;
}
.sub-list {
	position:fixed;
	width:25%;
	max-height:calc(100vh-100px);
	min-width:200px;
}

.sub-list a {
	display:block;
}
.sub-list a span {
	display:inline-block;
	position:relative;
	top:50%;
	transform: translateY(-75%);
}
.sub-list a img{
	max-width:50px;
	max-height:50px;
}

main.login {
	position:absolute;
	top:50%;
	left:50%;

	transform: translateX(-50%) translateY(-50%);
}

.time {
	margin-right:20px;
}